header {
	background-color: var(--section-backgroundColor);
	height: 70px;
	width: 100%;
	border-bottom: solid 1px var(--section-borderColor);
}
header .logo {
	height: inherit;
	width: inherit;
	background: var(--header-logo-img);
	background-repeat: no-repeat;
	margin-left: 20px;
}
